{% include 'header.html' %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Create Channel</h1>
    </div>
    {% if message %}
        <div class="alert alert-{{ alert_type }}" role="alert">
          {{ message }}
        </div>
    {% endif %}
    <form action="" method="post" id="channel-creation">
        <div class="form-group">
            <label for="channelname">Channel Name</label>
            <input type="text" name="channelname" class="form-control" id="channelname" aria-describedby="channelnameHelp">
            <small id="channelnameHelp" class="form-text text-muted">Channel Name</small>
        </div>
        <div class="form-group">
            <label for="channeldate">Start Date</label>
            <input type="text" name="channeldate" class="form-control" id="channeldate" aria-describedby="channeldateHelp">
            <small id="channeldateHelp" class="form-text text-muted">Start Date of this channel</small>
        </div>
        <div class="form-group">
            <label for="channelenddate">End Date</label>
            <input type="text" name="channelenddate" class="form-control" id="channelenddate" aria-describedby="channelenddateHelp">
            <small id="channelenddateHelp" class="form-text text-muted">End Date of this channel</small>
        </div>
        <div class="form-group">
            <label for="capacity">Channel Capacity</label>
            <input type="number" name="capacity" class="form-control" id="capacity" aria-describedby="capacityHelp">
            <small id="capacityHelp" class="form-text text-muted">Channel Capacity</small>
        </div>
        <button type="submit" class="btn btn-primary" id="channel-submit-btn">Submit</button>
    </form>
{% include 'footer.html' %}