{% include 'header.html' %}
    <!-- List Users -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    {% if message %}
        <div class="alert alert-{{ alert_type }}" role="alert">
          {{ message }}
        </div>
    {% endif %}
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Welcome {{ session['fullname'] }}</h5>
        <p class="card-text">Please navigate using the menu on the left.</p>
      </div>
    </div>

{% include 'footer.html' %}