<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Cityboys</title>

</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">CityBoys</a>
      <ul class="navbar-nav px-3 nav-dropdown">
        <li class="nav-item text-nowrap nav-user-profile">
          <a class="nav-link" href="#">{{ session['fullname'] }} <img src="/static/icons/arrow-down-left-square.svg" alt="" width="16" height="16" title="User"></a>
            <div class="nav-dropdown-content">
                <ul>
                    <a href="/changepassword"><li class="nav-item text-nowrap"><img src="/static/icons/key.svg" alt="" width="16" height="16" title="User"> My Profile</li></a>
                    <a href="/logout"><li class="nav-item text-nowrap"><img src="/static/icons/door-open.svg" alt="" width="16" height="16" title="User"> Sign Out</li></a>
                </ul>
            </div>
        </li>
  </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/static/icons/card-list.svg" alt="" width="16" height="16" title="Bootstrap"> Sessions</a>
                            <ul>
                                <li><a class="nav-link" href="/sessions/list-bookings">List Bookings</a></li>
                            </ul>
                        </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="/static/icons/card-list.svg" alt="" width="16" height="16" title="Bootstrap"> Channels</a>
                                <ul>
                                    {%  if session['role'] == 'Staff' %}
                                        <li><a class="nav-link" href="/channels/create">Create Channel</a></li>
                                    {% endif %}
                                    <li><a class="nav-link" href="/channels/list">List Channels</a></li>
                                </ul>
                            </li>
                            {%  if session['role'] == 'Staff' %}
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="/static/icons/people.svg" alt="" width="16" height="16" title="Bootstrap"> Users</a>
                                <ul>
                                    <li><a class="nav-link" href="/users/create">Create User</a></li>
                                    <li><a class="nav-link" href="/users/list">List Users</a></li>
                                </ul>
                            </li>
                            {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-md-9 ml-sm-auto col-lg-10 main">
