{% include 'header.html' %}
    <!-- List Users -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Users List</h1>
    </div>
    {% if message %}
        <div class="alert alert-{{ alert_type }}" role="alert">
          {{ message }}
        </div>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col">ID #</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Created By</th>
            <th scope="col">Created Time</th>
            <th scope="col">Modified By</th>
            <th scope="col">Modified Time</th>
            <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%  for user in users_list %}
            <tr>
                <th scope="row">{{ user['_id'] }}</th>
                <td>{{ user['fullname'] }}</td>
                <td>{{ user['username'] }}</td>
                <td>{{ user['role'] }}</td>
                <td>{{ user['created_by'] }}</td>
                <td>{{ user['created_datetime'] }}</td>
                <td>{{ user['modified_by'] }}</td>
                <td>{{ user['modified_datetime'] }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/users/edit/{{ user['_id'] }}" role="button"><img src="/static/icons/pencil-square.svg" alt="" width="16" height="16" title="Bootstrap"> Edit</a>
                    <a class="btn btn-danger btn-sm" href="/users/delete/{{ user['_id'] }}" role="button"><img src="/static/icons/trash.svg" alt="" width="16" height="16" title="Bootstrap"> Delete</a>
                </td>
            </tr>

        {%  endfor %}
      </tbody>
    </table>
{% include 'footer.html' %}