{% include 'header.html' %}
    <!-- List Users -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Channels List</h1>
    </div>
    {% if message %}
        <div class="alert alert-{{ alert_type }}" role="alert">
          {{ message }}
        </div>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col">ID #</th>
            <th scope="col">Channel Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Total Booking</th>
            <th scope="col">Total Capacity</th>
            <th scope="col">Created By</th>
            <th scope="col">Created Date</th>
            <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%  for channel in channels_list %}
            <tr>
                <th scope="row">{{ channel['_id'] }}</th>
                <td>{{ channel['channelname'] }}</td>
                <td>{{ channel['channeldate'] }}</td>
                <td>{{ channel['channelenddate'] }}</td>
                {%  if booking_dict[channel['_id']] %}
                    <td>{{ booking_dict[channel['_id']] }}</td>
                {%  else %}
                    <td>0</td>
                {% endif %}
                <td>{{ channel['capacity'] }}</td>
                <td>{{ channel['created_by'] }}</td>
                <td>{{ channel['created_datetime'] }}</td>
                <td>
                    {%  if session['role'] == 'Staff' %}
                        <a class="btn btn-warning btn-sm" href="/channels/edit/{{ channel['_id'] }}" role="button"><img src="/static/icons/pencil-square.svg" alt="" width="16" height="16" title="Bootstrap"> Edit</a>
                        <a class="btn btn-danger btn-sm" href="/channels/delete/{{ channel['_id'] }}" role="button"><img src="/static/icons/trash.svg" alt="" width="16" height="16" title="Bootstrap"> Delete</a>
                    {%  else %}
                        <a class="btn btn-success btn-sm" href="/sessions/book/{{ channel['_id'] }}" role="button"><img src="/static/icons/pencil-square.svg" alt="" width="16" height="16" title="Bootstrap"> Book</a>
                    {% endif %}
                </td>
            </tr>

        {%  endfor %}
      </tbody>
    </table>
{% include 'footer.html' %}